{% if activemq_ha_enabled and activemq_ha_role == 'master' %}

{% if not activemq_replicate and not activemq_shared_storage %}
        <live-only>
            <scale-down>
  {% for param in activemq_connectors %}
    {% if param.name != 'artemis' %}
            <connector-ref>{{ param.name }}</connector-ref>
    {% endif %}
  {% endfor %}
            </scale-down>
        </live-only>
{% endif %}


{% if activemq_replicate and not activemq_shared_storage %}
      <replication>
        <master>
          <check-for-live-server>true</check-for-live-server>
        </master>
      </replication>
{% endif %}


{% if activemq_shared_storage %}
        <shared-store>
          <master>
            <failover-on-shutdown>true</failover-on-shutdown>
          </master>
        </shared-store>
{% endif %}

{% endif %}


{# slave section #}
{% if activemq_ha_role == 'slave' or activemq_ha_role == 'backup' and activemq_ha_enabled%}

{% if activemq_shared_storage %}
        <shared-store>
          <slave>
            <allow-failback>true</allow-failback>
          </slave>
        </shared-store>
{% endif %}

{% if not activemq_shared_storage %}
      <replication>
        <slave>
          <allow-failback>true</allow-failback>
        </slave>
      </replication>
{% endif %}



{% endif %}